@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
span{
    margin-bottom: 10px;
    font-size: 16px;
    color: #64a5ff;
    font-weight: 400;
}
h1{
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(3, 10, 36);
}
p{
    margin: 0 10px 60px 10px;
    color: #c4ceeb;
    font-size: 17px;
}
footer{
    text-align: center;
}
.button{
    border: solid 1px #0b3875;
    padding: 1.25rem 1.75rem;
    display: inline-block;
    text-decoration-skip-ink: auto;
    text-decoration: none;
    border-radius: 5px;
    color: #0b3875;
    font-weight: 700;
}
.button:hover{
    background-color: #0b377554;

    transition: .3s;
}
.container-contact{
    width: 40%;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

@media (max-width: 800px){
    .container-contact{
        width: 70%;
    }
  }

  @media (max-width: 400px){
    .container-contact{
        width: 80%;
    }
  }
